/.vscode
/card_deck.exe
/employee.exe
/weight_generator.exe
/linked_list_example.exe
/full_list_example.exe
/bubble_sort.exe
/working_with_lists.exe
/double_linked_lists.exe
/hw
/hw2
/fileio_rational.exe